{{page-title "Ex1"}}
<div class="card">
  <div class="card-header bg-primary text-light">Ex1: Note application</div>
  <div class="card-body">
    <b>Note: </b>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Modification de note content"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Enregistrer</button>
    <button type="button" class="btn btn-primary">Effacer</button>
  </div>

</div>
{{outlet}}